/* Prototype Style */
body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-card {
    background-color: #111111;
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    color: white;
}
input {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-btn {
    background-color: #b30000;
    color: white;
    border: none;
    padding: 18px;
    width: 100%;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
.login-btn:hover {
    background-color: #9a0000;
}